# Timeseries

In [ ]:
import numpy as np
import pandas as pd

## Dates and Times in Python

### Native Python dates and times: datetime

In [ ]:
from datetime import datetime
datetime(year=2019, month=7, day=4)

In [ ]:
from datetime import date



print("Date =", timestamp)

In [ ]:
from datetime import datetime


t = now.strftime("%H:%M:%S")
print("time:", t)
print(type(t))

In [ ]:
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")

print("s1:", s1)

In [ ]:
s2 = now.strftime("%d/%m/%Y, %H:%M:%S")

print("s2:", s2)

In [ ]:


date_string = "21 June, 2018"
print("date_string =", date_string)

### Native Python dates and times: dateutil

In [ ]:
from dateutil import parser
date = parser.parse("4th of July, 2015")
date

## Typed arrays of times: NumPy's datetime64

In [ ]:
date = np.array('2015-07-04', dtype=np.datetime64)
date

In [ ]:
np.datetime64('2015-07-04')

In [ ]:
np.datetime64('2015-07-04 12:00')

In [ ]:
np.datetime64('2015-07-04 12:59:59.50', 'ns')

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<table>
<thead><tr>
<th>Code</th>
<th>Meaning</th>
<th>Time span (relative)</th>
<th>Time span (absolute)</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Y</code></td>
<td>Year</td>
<td>± 9.2e18 years</td>
<td>[9.2e18 BC, 9.2e18 AD]</td>
</tr>
<tr>
<td><code>M</code></td>
<td>Month</td>
<td>± 7.6e17 years</td>
<td>[7.6e17 BC, 7.6e17 AD]</td>
</tr>
<tr>
<td><code>W</code></td>
<td>Week</td>
<td>± 1.7e17 years</td>
<td>[1.7e17 BC, 1.7e17 AD]</td>
</tr>
<tr>
<td><code>D</code></td>
<td>Day</td>
<td>± 2.5e16 years</td>
<td>[2.5e16 BC, 2.5e16 AD]</td>
</tr>
<tr>
<td><code>h</code></td>
<td>Hour</td>
<td>± 1.0e15 years</td>
<td>[1.0e15 BC, 1.0e15 AD]</td>
</tr>
<tr>
<td><code>m</code></td>
<td>Minute</td>
<td>± 1.7e13 years</td>
<td>[1.7e13 BC, 1.7e13 AD]</td>
</tr>
<tr>
<td><code>s</code></td>
<td>Second</td>
<td>± 2.9e12 years</td>
<td>[ 2.9e9 BC, 2.9e9 AD]</td>
</tr>
<tr>
<td><code>ms</code></td>
<td>Millisecond</td>
<td>± 2.9e9 years</td>
<td>[ 2.9e6 BC, 2.9e6 AD]</td>
</tr>
<tr>
<td><code>us</code></td>
<td>Microsecond</td>
<td>± 2.9e6 years</td>
<td>[290301 BC, 294241 AD]</td>
</tr>
<tr>
<td><code>ns</code></td>
<td>Nanosecond</td>
<td>± 292 years</td>
<td>[ 1678 AD, 2262 AD]</td>
</tr>
<tr>
<td><code>ps</code></td>
<td>Picosecond</td>
<td>± 106 days</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
<tr>
<td><code>fs</code></td>
<td>Femtosecond</td>
<td>± 2.6 hours</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
<tr>
<td><code>as</code></td>
<td>Attosecond</td>
<td>± 9.2 seconds</td>
<td>[ 1969 AD, 1970 AD]</td>
</tr>
</tbody>
</table>

</div>
</div>
</div>

## Dates and times in pandas: best of both worlds

<table class="table">
<colgroup>
<col style="width: 15%">
<col style="width: 12%">
<col style="width: 13%">
<col style="width: 31%">
<col style="width: 28%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Concept</p></th>
<th class="head"><p>Scalar Class</p></th>
<th class="head"><p>Array Class</p></th>
<th class="head"><p>pandas Data Type</p></th>
<th class="head"><p>Primary Creation Method</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>Date times</p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">Timestamp</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">DatetimeIndex</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">datetime64[ns]</span></code> or <code class="docutils literal notranslate"><span class="pre">datetime64[ns,</span> <span class="pre">tz]</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">to_datetime</span></code> or <code class="docutils literal notranslate"><span class="pre">date_range</span></code></p></td>
</tr>
<tr class="row-odd"><td><p>Time deltas</p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">Timedelta</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">TimedeltaIndex</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">timedelta64[ns]</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">to_timedelta</span></code> or <code class="docutils literal notranslate"><span class="pre">timedelta_range</span></code></p></td>
</tr>
<tr class="row-even"><td><p>Time spans</p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">Period</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">PeriodIndex</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">period[freq]</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">Period</span></code> or <code class="docutils literal notranslate"><span class="pre">period_range</span></code></p></td>
</tr>
<tr class="row-odd"><td><p>Date offsets</p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">DateOffset</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">None</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">None</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">DateOffset</span></code></p></td>
</tr>
</tbody>
</table>

In [ ]:
pd.to_datetime('2018-01-15 3:45pm')

In [ ]:
pd.to_datetime('7/8/1952')

In [ ]:
pd.to_datetime('7/8/1952', dayfirst=True)

In [ ]:
pd.to_datetime(['2018-01-05', '7/8/1952', 'Oct 10, 1995'])

In [ ]:
pd.to_datetime(['2/25/10', '8/6/17', '12/15/12'], format='%m/%d/%y')

### Pandas Time Series: Indexing by Time

In [ ]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])

data = pd.Series([0, 1, 2, 3], index=index)

In [ ]:
data

In [ ]:
data['2014-07-04':'2015-07-04']

### Pandas Time Series Data Structures

In [ ]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])
dates

### Regular sequences

In [ ]:
pd.date_range('2015-07-03', '2015-07-10')

In [ ]:
pd.date_range('2015-07-03', periods=8)

In [ ]:
pd.date_range('2015-07-03', periods=8, freq='H')

In [ ]:
pd.period_range('2015-07', periods=8, freq='M')

In [ ]:
pd.timedelta_range(0, periods=10, freq='H')

## The data

<ul>
<li><code>Date</code> — The date (<em>yyyy-mm-dd</em> format)</li>
<li><code>Consumption</code> — Electricity consumption in GWh</li>
<li><code>Wind</code> — Wind power production in GWh</li>
<li><code>Solar</code> — Solar power production in GWh</li>
<li><code>Wind+Solar</code> — Sum of wind and solar power production in GWh</li>
</ul>

## Time series data structures

## Creating a time series DataFrame

In [ ]:
opsd_daily = pd.read_csv('data/opsd_germany_daily.csv')

## Time-based indexing

## Visualizing time series data

In [1]:
%matplotlib inline 
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns
sns.set(rc={'figure.figsize':(11, 4)})

In [ ]:
cols_plot = ['Consumption', 'Solar', 'Wind']

In [ ]:

ax.set_ylabel('Daily Consumption (GWh)')
plt.show()

In [ ]:


ax.set_ylabel('Daily Consumption (GWh)')
plt.show()

## Customizing time series plots

In [ ]:
import matplotlib.dates as mdates

In [ ]:
fig, ax = plt.subplots()
ax.plot(opsd_daily.loc['2017-01':'2017-02', 'Consumption'], marker='o', linestyle='-')
ax.set_ylabel('Daily Consumption (GWh)')

plt.show()

## Seasonality

<img src="images/1_NRlqiZGQdsIyAu0KzP7LaQ.png">

**Python zip**

In [ ]:
numberList = [1, 2, 3]
strList = ['one', 'two', 'three']

In [ ]:
from pandas.plotting import autocorrelation_plot

## Frequencies

In [ ]:
pd.date_range('1998-03-10', '1998-03-15', freq='D')

<table>
<thead><tr>
<th>Code</th>
<th>Description</th>
<th>Code</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>D</code></td>
<td>Calendar day</td>
<td><code>B</code></td>
<td>Business day</td>
</tr>
<tr>
<td><code>W</code></td>
<td>Weekly</td>
<td></td>
<td></td>
</tr>
<tr>
<td><code>M</code></td>
<td>Month end</td>
<td><code>BM</code></td>
<td>Business month end</td>
</tr>
<tr>
<td><code>Q</code></td>
<td>Quarter end</td>
<td><code>BQ</code></td>
<td>Business quarter end</td>
</tr>
<tr>
<td><code>A</code></td>
<td>Year end</td>
<td><code>BA</code></td>
<td>Business year end</td>
</tr>
<tr>
<td><code>H</code></td>
<td>Hours</td>
<td><code>BH</code></td>
<td>Business hours</td>
</tr>
<tr>
<td><code>T</code></td>
<td>Minutes</td>
<td></td>
<td></td>
</tr>
<tr>
<td><code>S</code></td>
<td>Seconds</td>
<td></td>
<td></td>
</tr>
<tr>
<td><code>L</code></td>
<td>Milliseonds</td>
<td></td>
<td></td>
</tr>
<tr>
<td><code>U</code></td>
<td>Microseconds</td>
<td></td>
<td></td>
</tr>
<tr>
<td><code>N</code></td>
<td>nanoseconds</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<table>
<thead><tr>
<th>Code</th>
<th>Description</th>
<th></th>
<th>Code</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>MS</code></td>
<td>Month start</td>
<td></td>
<td><code>BMS</code></td>
<td>Business month start</td>
</tr>
<tr>
<td><code>QS</code></td>
<td>Quarter start</td>
<td></td>
<td><code>BQS</code></td>
<td>Business quarter start</td>
</tr>
<tr>
<td><code>AS</code></td>
<td>Year start</td>
<td></td>
<td><code>BAS</code></td>
<td>Business year start</td>
</tr>
</tbody>
</table>

In [ ]:
times_sample = pd.to_datetime(['2013-02-03', '2013-02-06', '2013-02-08'])

## Resampling

In [ ]:
data_columns = ['Consumption', 'Wind', 'Solar', 'Wind+Solar']

In [ ]:
start, end = '2017-01', '2017-06'

In [ ]:


ax.set_ylabel('Solar Production (GWh)')
ax.legend()
plt.show()

In [ ]:



ax.set_ylabel('Monthly Total (GWh)')
plt.show()

In [ ]:


ax.set_title('Wind + Solar Share of Annual Electricity Consumption')
plt.xticks(rotation=0)
plt.show()

## Rolling windows

<img src="images/rollingwindow.png">

In [ ]:
start, end = '2017-01', '2017-06'


fig, ax = plt.subplots()







ax.set_ylabel('Solar Production (GWh)')
ax.legend()
plt.show()

## Trends

In [ ]:
fig, ax = plt.subplots()



ax.legend()
ax.set_xlabel('Year')
ax.set_ylabel('Consumption (GWh)')
ax.set_title('Trends in Electricity Consumption')
ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y'))
plt.show()

In [ ]:





ax.set_ylabel('Production (GWh)')
ax.set_title('Trends in Electricity Production (365-d Rolling Means)')
ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y'))
plt.show()